<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<!-- <%- include ./partials/header %> -->

<body>
    <!-- Header -->
    <!-- <%- include("./partials/header") %> -->
	<h2>Todos los productos</h2>
	<!-- /Header -->

       <!-- <div>
        <div>
            <div>
               
            </div>
         <% for( let i = 0; i < products.length; i++ ) { %>
			<div >
				<section >
					<a href="/products/detail/<%= products[i].id%>"<%= products[i] %>>
						<figure >
							<img src="/images/products/<%= products[i].image%>" alt="imagen de producto">
						</figure>
						<article >
							<h2>$<%= products[i].price %></h2>
							<span><%= products[i].discount%>% OFF</span>
							<p><%= products[i].name %></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
					<% } %>
			</div>
				</section> 
        </div>
    </div>-->

    <!-- footer -->
    <!-- <%- include('./partials/footer') %> -->
    <!-- /footer -->
</body>

</html>