<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->
    <section class="banner">
        <div>
            <img src="/images/img-home-banner.jpg" alt='Home banner'>
        </div>
    </section>
    <!-- todos los productos -->
    <main>
        <section class="main-section">
            <% for (let i = 0; i < products.length; i++ ){ %>
            <article class="product">
                <a href="/products/detail/<%= products[i].id%>" <%= products[i] %>>
                    <img src="/images/images-products/<%= products[i].image%>" alt="imagen de producto">

                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$<%= products[i].price  %></p>
                        <p class="descuento"><%= products[i].discount %> %OFF</p>
                        <p class="descripcion"> <%= products[i].name  %></p>
                    </div>
                </a>
            </article>

            <% } %>
        </section>

        <!-- /todos los productos -->

        <!-- footer -->
        <%- include('partials/footer') %>
        <!-- /footer -->
</body>

</html>